.about {
    background-color: $extraLightBrown;
    padding: 5rem 0;

    .split {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        width: $container;
        margin: 0 auto;
        gap: 5rem;
        color: $white;

        @include responsive(pc) {
            flex-direction: column;
            justify-content: center;
            gap: 3rem;
            width: $containerMobile;
        }

        div {
            width: 50%;
            max-height: 25rem;
            border-radius: $radius;

            @include responsive(pc) {
                width: auto;
                height: 25rem;
            }
        }
        
        .left {
            background-color: $lightBrown;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 2rem;
            padding: 0 1rem;

            h2 {
                font-size: 3rem;
                letter-spacing: 2px;
            }

            p {
                font-size: 1.7rem;
                text-align: justify;
            }
        }

        .right {
            background-color: $darkBrown;

            img {
                max-height: 100%;
                width: 100%;
                display: block;
                margin: 0 auto;
            }
        }
    }
}