.landing {
    background-color: $darkBrown;
    padding: 5rem 0;

    .presentation {
        width: $container;
        color: #ffffff;
        height: 60vh;
        margin: 0 auto;
        border-radius: $radius;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/cooffe-bg.jpg");
        background-repeat: no-repeat;
        // Oscurecer imagen de fondo
        background-size: cover;
        padding: 0 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;

        @include responsive(pc) {
            width: $containerMobile;
        }

        h1 {
            font-size: 4rem;
            letter-spacing: 3px;
        }
        
        h2 {
            font-size: 3rem;
            letter-spacing: 2px;
        }

        button {
            @include Button;
            max-width: 20rem;
            
            a {
                color: $white;
            }

            i {
                padding-left: .5rem;
            }
        }
    }
}